# Data Science Tools and Ecosystem

In this notebook, we will summarise Data Science Tools and Eco System

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. Julia
5. Javascript
6. Scala

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib 
6. Keras
7. SciKit-Learn
8. PyTorch

| Data Science Tools |
|-----------------------|
| R Studio |
| Apache Spark |
| Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

# Objectives-

- Add comments to code cells
- Create Markdown cells
- Add ordered and unordered lists to markdown cells
- Format content of markdown cells with heading styles

## Author

Abhishek Sharma